.red {
  color: red;
}
.green {
  color: green;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: none;
  height: 100%;
}
html .navbar-default .navbar-collapse {
  border-top-color: #333333;
}
html .pagination {
  float: right;
}
html .pagination li.active a {
  color: white !important;
  background-color: #0082e5 !important;
}
html .pagination li.disabled a {
  color: #ccc !important;
}
html .container {
  max-width: 1200px;
  width: 100%;
}
html .money {
  font-size: 14px !important;
  font-family: Tahoma, Helvetica, arial, sans-serif !important;
  color: #f76120 !important;
}
html table.dotted-table {
  border: 1px solid #ddd !important;
  border-spacing: 0 !important;
}
html table.dotted-table thead tr {
  border-color: #cde9ff !important;
  height: 40px;
}
html table.dotted-table thead th {
  background-color: #e4f3ff !important;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
  color: #333;
  vertical-align: middle;
}
html table.dotted-table tbody tr td {
  border-top: 1px dotted #ddd !important;
  font-size: 13px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
}
@media (max-width: 768px) {
  html table.dotted-table tbody tr td {
    font-size: 12px !important;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif !important;
    word-break: break-all;
  }
}
html table.dotted-table tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}
html table.dotted-table tbody td:not(:last-child),
html table.dotted-table tbody .dotted-table th:not(:last-child) {
  border-right: 1px dotted #ddd !important;
}
html code {
  color: #f76120;
}
html #nav_hello a:hover {
  height: 60px;
  margin-bottom: 9.5px;
}
html #host-nav {
  font-size: 18px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
  margin-top: 30px;
  color: #333;
}
html #host-nav hr {
  border-top: 2px solid #eee;
  margin-top: 10px;
  margin-bottom: 10px;
}
html h4 {
  font-size: 18px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
  color: #333;
  font-weight: normal;
}
html h5 {
  font-size: 16px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
  color: #333;
  font-weight: normal;
}
html input.user-error,
html textarea.user-error {
  -moz-outline-radius: 4px 4px 4px 4px !important;
  border-color: #ee5238 !important;
  border-radius: 4px 4px 4px 4px !important;
  box-shadow: 0 0 2px #ee5238 inset !important;
  out-line: 2px solid #ee5238 !important;
}
html a:hover {
  text-decoration: none;
  color: #0082e5;
}
html input.error,
html textarea.error {
  -moz-outline-radius: 4px 4px 4px 4px !important;
  border-color: #ee5238 !important;
  border-radius: 4px 4px 4px 4px !important;
  box-shadow: 0 0 2px #ee5238 inset !important;
  out-line: 2px solid #ee5238 !important;
  outline-color: #ee5238!important;
}
html .btn:focus {
  outline: none;
  outline-offset: none;
}
html .btn-primary:hover,
html .btn-primary:focus,
html .btn-primary:active,
html .btn-primary.active,
html .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0082e5;
}
html .navbar-static-top.navbar {
  margin-bottom: 0px;
  border: none;
}
@media (min-width: 769px) {
  html .navbar-static-top.navbar {
    max-height: 60px;
  }
}
html .navbar-collapse {
  max-height: 400px;
}
html .navbar-static-top {
  background-color: #333333;
}
html .navbar-static-top #logo {
  margin-top: 5px;
  background: url(/media/img/logo_new.png) no-repeat;
  display: inline-block;
  width: 93px;
  height: 50px;
  background-position: 0 7px;
  margin-right: 60px;
  padding-left: 0;
  margin-left: 0;
}
html .navbar-static-top .navbar-nav li {
  text-align: center;
}
html .navbar-static-top .navbar-nav li a {
  line-height: 30px;
  padding: 15px 20px;
  display: inline-block;
}
html .navbar-static-top .navbar-nav .active a,
html .navbar-static-top .navbar-nav a:link,
html .navbar-static-top .navbar-nav a:visited,
html .navbar-static-top .navbar-nav a:hover,
html .navbar-static-top .navbar-nav a:active {
  color: #fff;
  font-size: 16px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
}
html .navbar-static-top .navbar-nav a:hover {
  color: #fff;
  background-color: #222;
}
html .navbar-static-top .navbar-nav .active a:link,
html .navbar-static-top .navbar-nav .active a:visited,
html .navbar-static-top .navbar-nav .active a:hover,
html .navbar-static-top .navbar-nav .active a:active {
  color: #fff;
  background-color: #222222 !important;
}
@media (max-width: 1200px) {
  html .navbar-static-top .navbar-nav:not(.navbar-right) li {
    min-width: 64px;
  }
}
html .navbar-static-top .navbar-nav.navbar-right:last-child {
  margin-right: 0;
  margin-top: 20px;
}
@media (max-width: 1000px) {
  html .navbar-static-top .navbar-nav.navbar-right:last-child {
    float: left !important;
  }
}
html .navbar-static-top .navbar-right li {
  min-width: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
html .navbar-static-top .navbar-right li a {
  line-height: 30px;
}
html .navbar-static-top .navbar-right li .name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80px;
  display: inline-block;
}
html .navbar-static-top .navbar-right li.active a:link,
html .navbar-static-top .navbar-right li.active a:visited,
html .navbar-static-top .navbar-right li.active a:hover,
html .navbar-static-top .navbar-right li.active a:active {
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
}
html .navbar-static-top .navbar-right a:link,
html .navbar-static-top .navbar-right a:visited,
html .navbar-static-top .navbar-right a:hover,
html .navbar-static-top .navbar-right a:active {
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
  color: #bbb;
}
html .navbar-static-top .navbar-right a:link:hover,
html .navbar-static-top .navbar-right a:visited:hover,
html .navbar-static-top .navbar-right a:hover:hover,
html .navbar-static-top .navbar-right a:active:hover {
  color: #fff;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
}
html .navbar-static-top .navbar-right li#nav_hello a {
  height: 60px;
}
html .navbar-static-top .navbar-right .beian {
  min-width: 106px;
}
html .navbar-static-top .navbar-right .beian a span {
  background-color: #444;
  padding: 10px;
  border-radius: 4px;
}
html .navbar-static-top .navbar-right .tablet-layout {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
html .navbar-static-top .container > .navbar-header,
html .navbar-static-top .container-fluid > .navbar-header,
html .navbar-static-top .container > .navbar-collapse,
html .navbar-static-top .container-fluid > .navbar-collapse {
  margin: 0;
}
html .container img {
  max-width: 100%;
}
html .meituan-red {
  color: #f76120;
}
html .label {
  font-size: 11px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
  padding-top: 4px;
}