<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.json.js"></script>
<script src="/javascripts/movie.js"></script>
</body>
</html>