!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')

  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title= title
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/css/index.css')
  body
    #all
    div(style='clear:both')
        #logo.content
          a(href='/')
            img(src='/images/logo.png', width='232', height='35', alt='北京秦运恒信息技术有限公司')
          ul
            li
              a(href='/') 首页
            li
              a(href='/products/') 产品介绍
            li
              a(href='/solutions/') 解决方案
            li
              a(href='/company/') 关于我们
            li
              a(href='/company/jobs/') 加入我们
        !=body
        #footer
          p(align='center') [@2010](/user/2010) 北京